.Header {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  // background-color: cadetblue;
  width: 15rem;
  .side-tray{
    max-width: 20rem;
    color: cornsilk;
    height: 100vh;
    background: linear-gradient(90deg, #ff330060 0%, rgba(0, 0, 255, 0.336) 100%);
    width:100%;
  }

}


