.SortingBox{
display: flex;
justify-content: space-around;
background-color: #0B0E12;
align-items: flex-end;

    .piller{
        display: flex;
        justify-content: flex-end;
        flex-grow: 1px;
        
    }
}
