.Head{
    display:flex;
    // justify-content: center;
    align-items: center;
    position: relative;
    // margin-bottom: 2rem;
    // margin-top:1rem;
    
    
     .Head_button{
         display: none;
         align-items: center;
         
        .sidebutton{
            position: absolute;
            // display: none;
            border: 2px solid #aba7de;
            color: black;
            border-radius: 50%;
            background-color: #aba7de;
            outline: none;
            width: 2.5rem;
            height: 2.5rem;
             .symbol{
                margin: 0;
                padding: 0;
                line-height: 0.4;
                font-size: 1.5rem ;
                margin-block-start: 0;
                margin-block-end: 0;
            } 
         }
         .sidebutton:hover{
             color:#5e46a6;
             border: 2px solid black;
             background-color: black;
             cursor: pointer;
         }
                  
    }
    @media screen  and (max-width:1000px){
                
        .Head_button{
            display: none;
            .sidebutton{
                display: block;
                position:relative;
            }
        }
    }
    @media screen  and (max-width:800px){
        .Head_button{
            display: block;
            .sidebutton{
                position:relative;
                
                
                .symbol{
                    h1{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    

    .Head_logo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        .logo{
            img{
                WIDTH: 4REM;
                // MARGIN-TOP: 1.5REM;
                MARGIN-RIGHT: 0.2rem;
                transform: rotate(-15deg);
            }
        }
        .heading{
            text-align: center;
            line-height: 2.25rem;
            h1{
                color: #aba7de;
                font-weight: 600;
            }
        }
        @media screen  and (max-width:500px){
            .heading{
                line-height: 1.25rem;
                h1{
                    font-size: 18px;
                }
            }
            .logo{
                img{
                    width: 3rem;
                }
            }
    
        }
    }
    
}