.piller {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.pointer{
    height: 10px;
    width: 10px;
    background: #FFFF;
    position: absolute;
    bottom: 90px;
    border-radius: 50%;;
}