body{
    background: #141927;
}
.main{
   flex-grow: 1;
}
.godfather{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    max-width: 900px;
    margin:auto;
    padding: 0.5rem;
}