.grid{
    display: flex;
    flex-direction: column;
    // width: 500px;
    // background: yellow;
    .array {
        display: flex;
        justify-content: center;
    }
    // height: 500px;
    // flex-wrap: ;;;
    
}