.grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  // width: 500px;
  // background: yellow;
  .array {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  // height: 500px;
  // flex-wrap: ;;;

}
