.button{
    text-align: center;
    button{
        border-style: none;
        height: 2rem;
        border-radius: 0.6rem;
        font-family: Lato;
        font-size: 1rem;
        background-color: #753f8d;
        margin-top: 1rem;
        border: 1px solid #5e46a6;
        color: #0b0e11;
        width: 8rem;
        outline:none;
    }
}